<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylee.css') }}">
</head>
<body class="reset-page-body">
<div class="reset-container">
  <h2>Enter your email to reset password</h2>
  <form method="POST">
    <input type="email" name="email" placeholder="Your email" required><br>
    <button type="submit">Send reset link</button>
  </form>
  <a href="{{ url_for('login') }}">Back to login</a>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  {% endwith %}
</div>
</body>
</html>
