seed: 1337
deterministic: false
gpu: 0
name: null
debug: false
load_model: /content/drive/MyDrive/medical-coding-reproducibility-main/files/w3sngn4w
data:
  dir: /content/drive/MyDrive/medcode_data/mimiciv_icd10
  data_filename: mimiciv_icd10.feather
  split_filename: mimiciv_icd10_split.feather
  code_column_names:
  - icd10_diag
  - icd10_proc
  max_length: 4000
dataset:
  name: HuggingfaceDataset
  configs:
    chunk_size: 128
dataloader:
  max_batch_size: 1
  batch_size: 16
  num_workers: 0
  drop_last: true
  pin_memory: false
  batch_sampler:
    name: BySequenceLengthSampler
    configs:
      bucket_boundaries:
      - 400
      - 600
      - 800
      - 1000
      - 1200
      - 1400
      - 1600
      - 1800
      - 2000
      - 2200
      - 2600
      - 3000
      - 4000
model:
  name: PLMICD
  configs:
    model_path: /content/drive/MyDrive/RoBERTa-base-PM-M3-Voc/RoBERTa-base-PM-M3-Voc-hf
text_encoder: {}
trainer:
  epochs: 20
  validate_on_training_data: true
  print_metrics: true
  use_amp: true
  threshold_tuning: true
  accelerator: gpu
  devices: 1
optimizer:
  name: AdamW
  configs:
    lr: 5.0e-05
    weight_decay: 0
lr_scheduler:
  name: linear
  configs:
    num_warmup_steps: 2000
label_transform:
  name: OneHotEncoder
  configs: {}
text_transform:
  name: HuggingFaceTokenizer
  configs:
    model_path: /content/drive/MyDrive/RoBERTa-base-PM-M3-Voc/RoBERTa-base-PM-M3-Voc-hf
    max_length: 512
    truncation: true
    padding: max_length
metrics:
- name: F1Score
  configs:
    average: micro
    threshold: 0.5
- name: F1Score
  configs:
    average: macro
    threshold: 0.5
- name: Recall
  configs:
    average: micro
    threshold: 0.5
- name: Recall
  configs:
    average: macro
    threshold: 0.5
- name: Precision
  configs:
    average: micro
    threshold: 0.5
- name: Precision
  configs:
    average: macro
    threshold: 0.5
- name: FPR
  configs:
    average: micro
    threshold: 0.5
- name: FPR
  configs:
    average: macro
    threshold: 0.5
- name: ExactMatchRatio
  configs:
    threshold: 0.5
- name: Precision_K
  configs:
    k: 5
- name: Precision_K
  configs:
    k: 8
- name: Precision_K
  configs:
    k: 15
- name: Recall_K
  configs:
    k: 10
- name: Recall_K
  configs:
    k: 15
- name: MeanAveragePrecision
  configs: {}
- name: PrecisionAtRecall
  configs: {}
- name: AUC
  configs:
    average: micro
- name: AUC
  configs:
    average: macro
- name: LossMetric
  configs: {}
lookup:
  code_description:
    code_desc_path: null
    code_column: null
    desc_column: null
callbacks:
- name: WandbCallback
  configs:
    project: automatic-medical-coding
    entity: null
- name: SaveBestModelCallback
  configs:
    split: val
    target: all
    metric: precision@8
- name: EarlyStoppingCallback
  configs:
    split: val
    target: all
    metric: precision@8
    patience: 10
data.max_length: 4000
